<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nj.dao.RecoderDao">
    <select id="selectAll" parameterType="com.nj.bean.RecoderQuery" resultMap="recMap">
        select r.recoderid, r.userid, r.cid, r.createtime, r.remark, r.status from recoder r

        left join customer c on c.cid = r.cid
        <where>
            <if test="userid != null"><!--根据员工id进行查询-->
                r.userid = #{userid}
            </if>
            <if test="companyid != null"><!--根据公司id进行查询-->
                and c.companyid = #{companyid}
            </if>
            <if test="customerid != null"><!--根据客户id进行查询-->
                and r.cid = #{customerid}
            </if>
        </where>
    </select>
    <resultMap id="recMap" type="com.nj.bean.RecoderBean">
        <result column="userid" property="userid"/>
        <result property="cid" column="cid"/>
        <association property="user" column="userid" select="com.nj.dao.UserDao.selectAllByUserid"/>
        <association property="customer" column="cid" select="com.nj.dao.CustomerDao.selectAllById"/>
    </resultMap>


    <insert id="insertRecoder" parameterType="com.nj.bean.RecoderBean">
        insert into recoder (userid, cid, createtime, remark)
        values (#{userid},#{cid},now(),#{remark})
    </insert>

    <update id="updateRecoder" parameterType="com.nj.bean.RecoderBean">
        update recoder
        <set>
            <if test="userid != null">
                userid = #{userid},
            </if>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="remark != null and remark.length()>0">
                remark = #{remark},
            </if>
        </set>
        <where>
            recoderid = #{recoderid}
        </where>
    </update>
</mapper>